<div>
  <%= image_tag @item.get_image, size: "300x200" %>
</div>
<h4>
  <strong>
    <%= @item.name %>
  </strong>
</h4>
<div>
  <%= @item.introduction %>
</div>
<div>
  <strong>￥<%=@item.price %></strong>(税込)
</div>
<% form_with url: public_cart_items_path, model: @item do |f| %>
<%= f.hidden_field :value => @item.id %>
  <%= f.select :amount, [1, 2, 3, 4, 5] %>
<% end %>